* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #02aab0, #00cdac);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 50px;
}

#gameboard {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.item {
    text-align: center;
    font-size: 85px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}